build
*.swp
*.swo
.vscode
blah
logs
*.etcd
debug
release
.DS_Store
paper/*/*.data.et
paper/*/*.data
paper/*/*.pdf
paper/*/*.txt
PiCtlLogs/*
!PiCtlLogs/.gitkeep
build/*
!build/.gitkeep
*.o
*.log
CMakeFiles/